f/**
*Navmenu Styling 1
*/

.lavish_menu {
	
}
.lavish_menu > ul {
	margin:0px;
	padding:0px;
} 
ul.navmenu,
.navmenu > ul {

}
ul.mobilemenu {
	display:none;
}
ul.navmenu > li,
.navmenu > ul  > li {
	list-style:none;
	float:left;
	position:relative;
}
ul.navmenu > li >  a,
.navmenu ul > li >  a {
	display:block;
	list-style:none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	padding: 0 30px;
}
.navmenu ul ul.children{
	display: none !important;
}

ul.navmenu > li:hover > a{
	color:#fff;
}
.navmenu ul > li:hover > a {
	color:#fff;
}
ul.navmenu > li > a:hover,
ul.navmenu > li > a:focus,
ul.navmenu > li > a:active,
.navmenu ul > li > a:hover,
.navmenu ul > li > a:focus,
.navmenu ul > li > a:active {
	outline:none;
	color:#d65900e1;
}

ul.navmenu ul.sub-menu > li{
	list-style:none;
	text-decoration:none;
	display:block;
	width: 240px;
	min-width: 240px;
    max-width: 240px;
	margin:0 10px;
	position: relative;
}
ul.navmenu ul.sub-menu > li > a{
	display:block;
	color:#fff;	
	text-align:left;
	list-style:none;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	font-size:0.75rem;
	text-decoration: none;

	height: 100%;
}
ul.navmenu ul.sub-menu > li > a > span{
	font-size: 14px;
	font-weight: 400;
	padding: 0 5px;
    line-height: 20px;
}
ul.navmenu ul.sub-menu > li > ul.sub-menu {
	right: 100%!important;
	top:0.2rem;
}
ul.navmenu ul.sub-menu > li > ul.sub-menu:before {
	display:none;
}
ul.navmenu ul.sub-menu > li > ul.sub-menu > li > a {
	padding: 0.6rem 1rem;
	font-size: 0.75rem;
}
.navmenu .sub-menu li,
.navmenu .children li {
	text-transform:none;	
}
.navmenu .sub-menu ul,
.navmenu .children ul {
	right: 0%;
	top: 0;
}
ul.navmenu ul.sub-menu > li > a:hover,
ul.navmenu ul.sub-menu > li > a:focus,
ul.navmenu ul.sub-menu > li > a:active{
	-webkit-box-shadow: -3px 7px 29px -5px rgba(77, 35, 1, 0.75);
	-moz-box-shadow: -3px 7px 29px -5px rgba(77, 35, 1, 0.75);
	box-shadow: -3px 7px 29px -5px rgba(77, 35, 1, 0.75);
	border-radius: 8px;
}
ul.navmenu ul a,
.navmenu ul ul a {	
	margin: 0;
}

ul.navmenu li:hover > ul,
.navmenu ul li:hover > ul {
    display: flex;
    position: fixed;
}
ul.navmenu li:hover ul ul,
.navmenu ul li:hover ul ul {
	margin-right:auto;
   	right: 90%;
}
.navmenu .current_page_item > a,
.navmenu .current_page_ancestor > a,
.navmenu .current-menu-item > a,
.navmenu .current-menu-ancestor > a {	
	outline:none;
	color: #ffa15f;
}
.toggle_button_lavish_menu {
	display:none;
}
ul.navmenu ul.sub-menu .current_page_item > a, 
ul.navmenu ul.sub-menu .current_page_ancestor > a, 
ul.navmenu ul.sub-menu .current-menu-item > a, 
ul.navmenu ul.sub-menu .current-menu-ancestor > a{
	background-color:#db6d1ea1!important;
	color:#888;
}


/* My Code  */


/* -----------NavBar */


ul.navmenu ul.sub-menu > li > a {
	font-size: 14px;
	color: #213239;
	text-align: center;
	width: 100%;
}


ul.navmenu ul.sub-menu {
	margin: 0px;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 99999;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: 0;
}

.navmenu li, .navmenu > li > a {
	height: 100%;
}

ul.navmenu li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
}

ul.navmenu ul.sub-menu > li > a > img {
	padding-top: 50px;
}


ul.navmenu > li:last-child > a {
	padding-right: 0;
}

ul.navmenu >li > a::after {
    content: ' ';
    display: block;
    background-color: #9aaeb982;
    position: absolute;
    right: 0;
    height: 10px;
    width: 2px;
    margin: 0 auto;
}

ul.navmenu > li:last-child > a::after {
	display: none;
}

ul.navmenu ul.sub-menu::before {
	content: ' ';
	width: 17%;
}

ul.navmenu ul.sub-menu > li > a {
	padding: 0;
}

ul.navmenu ul.sub-menu > li > a::after {
    content: ' ';
    display: block;
    border: 1px solid #9aaeb9;
    position: absolute;
    right: -11px;
    top: 42px;
    height: 85px;
    margin: 0 auto;
}

ul.navmenu ul.sub-menu > li:last-child > a::after {
	display: none;
}


/* -----------NavBar end*/
