@media screen and (min-width: 320px) and (max-width: 1030px) {

    body,html {
        font-size: 10px;
    }

    li, span {
        font-size: unset;
    }

    p {
        line-height: unset;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 2.4rem;
    }

    .lavish_move_to_top {
        display: none !important;
    }
    
    .lavish_header.header_two .lavish_head .container {
        width: 100%;
        max-width: 1030px;
        min-width: 320px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: space-between;
    }

    
    .lavish_header .lavish_head {
        /* height: 130px; */
        background-color: #213239;
    }

    .lavish_menus {
        width: unset;
        height: unset;
        margin-right: 25px;
    }

    .lavish_menu {
        display: none;
    }

    .lavish_logo {
        margin: 0;
        padding: 0;
        margin-left: 16px;   
    }

    .lavish_header.special .lavish_logo {
        height: 32px;
    }

    .lavish_header.special .mobile_menu_sticky {
        top: 130px !important;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    a.toggle_button_lavish_menu {
        margin: 0;
        padding: 0;
        float: unset;
        color: #fff;
    }

    .content-wrapper {
        width: 100%;
        max-width: 1030px;
        min-width: 320px;
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: border-box;
    }

    /* Our Pledge ------------> */

    .our-pledge {
        height: unset;
    }

    .our-pledge .content-wrapper {
        margin-top: 45px;
        margin-bottom: 50px;
    }

    .pledge-content-box {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .pledge-content-box img {
        margin: 0;
        margin-bottom: 43px;
    }

    .pledge-holder {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .pledge-text {
        text-align: center;
    }



    /* Our Pledge ------------> end */



    /* Footer ------------> */

    .footer-section {
        height: auto;
    }

    .footer-section .footer-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    .footer-section .footer-container .footer-column {
        height: auto;
    }

    .footer-section .footer-logo-holder {
        margin-bottom: 37px;
        padding-top: 40px;
        text-align: center;
    }

    .footer-section .footer-policy {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .footer-policy > div:after {
        right: -4px;
    }

    .footer-section .footer-policy .policy-rights {
        margin-bottom: 17px;
    }

    .footer-section .footer-policy .policy-rights:after {
        display: none;
    }

    .footer-section .footer-policy .policy-date, .footer-policy .policy-rights, .footer-policy .policy-terms, .footer-policy .policy-privacy {
        width: 49%;
        text-align: center;
    }

    .footer-container .footer-column.menu {
        width: 90px;
        min-height: 330px;
    }

    .footer-container .footer-column.industries {
        width: 160px;
        min-height: 330px;
    }

    .footer-container .footer-column.products {
        min-height: 270px;
    }

    .footer-container .footer-column.products > label {
        margin-bottom: 20px;
    }

    .footer-container .footer-column.links {
        height: unset;
    }

    .toggle_button_lavish_menu.special:before {
        content: url('cross.png');
    }

    a.toggle_button_lavish_menu:before {
        content: url('mobile-navbar-button.png');
    }

    .lavish_header.special {
        background-color: #fff;
        height: 100%;
    }

    .lavish_header.special .lavish_head {
        background-color: #fff;
    }

    /* -------------------------> Home Header Section  */

    .header-section .content-wrapper {
        max-width: 370px;
    }

    .home-page .wpsisac-clearfix {
        padding-top: 95px;
    }

    .wpsisac-slick-slider.design-1 .slick-image-slide img {
        min-height: 200px;
        max-height: 200px;
    }

    .slick-image-slide, .slide-wrap {
        height: unset;
    }
    
    .header-section {
        top: unset;
        margin-bottom: 50px;
    }

    .header-section .content-wrapper h1{
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 3.2rem;
        font-weight: 700;
        color: #213239;
        text-shadow: unset;
        line-height: 42px;
    }

    .header-section .content-wrapper .button-view {
        width: 165px;
        margin: unset;
    }

    .header-section .content-wrapper .button-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 340px;
    }

    .header-section .content-wrapper .link-distributor {
        color: #213239;
        font-size: 1.7rem;
    }

    .header-section .content-wrapper .content-box {
        position: initial;
    }

    /* -------------------------> Home Header Section  end*/

    /* -------------------------> Home Industries Section */

    .industries-section {
        margin: 0;
        margin-bottom: 85px;
    }

    .industries-section .content-wrapper.video {
        max-width: 343px;
        height: 521px;
        margin-bottom: 60px;
        padding: 0;
    }


    .industries-section .content-wrapper.video .content-box {
        max-width: 343px;
        height: 522px;
        position: initial;
        flex-flow: column-reverse;
        justify-content: space-between;
        background-image: url('video-container-mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 9px;
    }

    .industries-section .content-wrapper.video .video-box {
        width: 300px;   
        height: 175px;
        margin-top: 16px;
        margin-bottom: 20px;
        border: 2px solid #213239; 
    }

    .industries-section .content-wrapper.video .text-box {
        width: 315px;
    }

    .industries-section .content-wrapper.video .text-box > p {
        font-size: 1.8rem;
        max-width: 314px;
        font-weight: 500;
        line-height: 28px;
    }

    .industries-section .content-wrapper.video iframe {
        width: 100%;   
        height: 100%;
    }

    .industries-section .industries-list {
        flex-wrap: wrap;
    }

    .industries-section .industries-list li {
        width: 33%;
        margin-bottom: 50px;
    }

    .industries-section .industries-list li:nth-last-child(-n+3) {
       margin: 0;
    }

    .industries-section .button-view {
        margin: 0;
    }

    .industries-section .content-wrapper .text-box h2 {
        font-size: 5rem;
    }

    .content-wrapper.video .text-box:before {
        top: 210px;
        height: 28px;
    }

    .content-wrapper.video .text-box:after {
        top: 240px;
        height: 28px;
    }

    .content-wrapper.video .text-box > p:after {
        top: 147px;
        height: 65px;
    }

    .industries-section .content-wrapper.text .icons-holder .industries-list > li > p {
        font-family: 'Roboto', sans-serif;
        color: #213239;
        line-height: 22px;
    }


    /* -------------------------> Home Industries Section  end*/

    /* -------------------------> Home Benefits Section */

    .benefits-section {
        height: unset;
    }

    .benefits-section .content-wrapper.benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .benefits-section .title-holder {
        width: 325px;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 90px;
    }

    .benefits-section .title-holder h2 {
        font-size: unset;
    }

    .benefits-section .benefits-content {
        flex-flow: column;
    }

    .benefits-section .benefit-box {
        width: unset;
        height: unset;
        margin-bottom: 80px;
        margin-right: unset;
    }

    .benefits-section .benefit-box:last-child {
        margin-bottom: unset;
    }

    .benefits-section .benefit-box .content-details {
        line-height: 28px;
        font-weight: 400;
        color: #213239;
    }


    /* -------------------------> Home Benefits Section  end*/


    /* -------------------------> Home Choose Section */

    .choose-section {
        height: unset;
    }

    .choose-section .content-wrapper.choose {
        margin: 0;
        padding-top: 88px;
        padding-bottom: 25px;
    }

    .choose-section .title-holder {
        text-align: center;
    }

    .choose-section .title-holder h2:after {
        right: 0;
    }

    .choose-section .content-box {
        justify-content: unset;
        flex-flow: column;
    }

    .choose-section .content-box .left-box, .choose-section .content-box .right-box, .choose-section .image-box {
        height: unset;
        width: unset;
    }

    .choose-section .content-box .left-box {
        margin-bottom: 60px;
    }

    .choose-section .content-box .left-box .details > ul > li {
        display: flex;
    }

    .choose-section .content-wrapper.choose .image-box {
        background: url('polytron-product-group-photo-mobile.png') center no-repeat;
        background-size: 100% 100%;
        height: 141px;
        width: unset;
    }

    /* -------------------------> Home Choose Section  end*/

    /* -------------------------> Home Testimonials Section */

    .testimonials-section {
        height: unset;
    }

    .testimonials-section .content-wrapper {
        width: unset;
    }

    .testimonials-section .wpsisac-clearfix {
        display: none;
    }

    /* -------------------------> Home Testimonials end*/


    /* -------------------------> Home Leadership*/

    .leadership-section, .leadership-section .content-wrapper .content-box  {
        height: unset;
    }

    .leadership-section h3 {
        margin-bottom: 15px;
    }

    .leadership-section .content-wrapper {
        padding-top: 85px;
        padding-bottom: 60px;
    }

    .leadership-section .content-wrapper .leadership-content {
        flex-flow: column;
        width: 100%;
    }

    .leadership-section .content-wrapper .content-box {
        margin-bottom: 70px;
        width: unset;
    }

    .leadership-section .content-wrapper .content-box:last-child {
        margin-bottom: unset;
    }

    .leadership-section .content-wrapper .content-box:after {
        display: none;
    }

    /* -------------------------> Home Leadership end*/


    /* ABOUT PAGE  */
    /* ABOUT PAGE  */
    /* ABOUT PAGE  */

    /* About Header Section ------------------------->  */

    .about-page {
        background-color: #fff;
    }

    .about-page .header {
        background: url('about-page-header-mobile.png') center no-repeat;
        background-size: 100%;
        margin-bottom: 190px;



        height: 196px;
        min-height: unset;
        padding-top: 183px;
    }

    .about-page .header .content-wrapper .content-box {
        position: unset;
        min-height: unset;
        padding-top: 135px;
    }

    .about-page .header .content-wrapper .content-box h1 {
        max-width: 340px;
        color: #213239;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -0.75px;
        text-shadow: unset;
        line-height: unset;
    }

    .about-page .header .content-box {
        min-height: 330px;
    }

    .about-page .header .content-wrapper .content-box .details p {
        width: unset;
        height: unset;
        color: #213239;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 28px;
    }


    /* About Header Section ------------------------->  end*/

    /* About History Section ------------------------->  */

    .about-page .history-section .content-wrapper {
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .history-section .history-content {
        flex-flow: column;
    }

    .history-section .history-content img {
        margin-bottom: 22px;
    }

    .history-section .button-holder {
        display: none;
    }

    /* About History Section ------------------------->  end*/


    /* About Philosophy Section ------------------------->  */

    .philosophy-section .content-wrapper {
        padding-top: 40px;
        padding-bottom: unset;
    }

    .philosophy-section .title-holder {
        margin-bottom: 60px;
    }

    .philosophy-section .content-wrapper .philosophy-content {
        min-width: 320px;
        flex-flow: column;
    }

    .philosophy-section .details {
        margin-bottom: 30px;
    }

    .philosophy-section .image {
        background: url('philosophy-background-image-mobile.png') center center no-repeat;
        background-size: 327px 271px;
        min-height: 274px;
        min-width: unset;
        width:unset;
        height: unset;
        position: unset;
    }

    /* About Philosophy Section ------------------------->  end*/

    /* About Understand Section ------------------------->  */

    .understand-section .content-wrapper {
        flex-flow: column-reverse;
    }

    .understand-section .understand-content {
        margin: unset;
        margin-bottom: 30px;
    }

    .understand-section .understand-content .details {
        min-width: unset;
    }

    .understand-section .understand-content .details.first {
        margin-bottom: 50px;
    }

    .understand-section .understand-content .details p {
        min-width: unset;
    }

    .understand-section .image {
        background: url('we-understand-image-mobile.png') center center no-repeat;
        min-height: 417px;
        min-width: unset;
        width: unset;
        height: unset;
    }

    /* About Understand Section ------------------------->  end*/


    /* MOBILE MENU */
    /* MOBILE MENU */
    /* MOBILE MENU */

    ul.sub-menu > li > a {
        padding: 0;
        font-size: 1.6rem;
        color: #213239;
    }

    ul.sub-menu > li > a > span {
        max-width: 220px;
    }

    ul.mobilemenu {
        height: 100%;
        max-height: unset !important;
    }

    ul.mobilemenu > li {
        min-height: 66px;
        border-bottom: 1px solid #d5dce0;
    }

    ul.mobilemenu > li:last-child {
        border: none; 
    }

    ul.mobilemenu > li > a {
        padding: 0;
        border: none;
        color: #213239;
        font-size: 1.8rem;
        padding-top: 23px;
        padding-left: 23px;
        padding-bottom: 22px;
    }

    ul.mobilemenu ul.sub-menu {
        display: none;
        padding: 0 !important;
    }

    ul.mobilemenu ul a, .mobilemenu ul ul a {
        padding-left: 0;
    }

    ul.sub-menu > li {
        padding: 20px 0;
    }

    ul.sub-menu > li:last-child {
        border: none;
    }

    .mobilemenu .current_page_item > a, .mobilemenu .current_page_ancestor > a, .mobilemenu .current-menu-item > a, .mobilemenu .current-menu-ancestor > a {
        background-color: unset;
        color: unset;
    }
    
    a.toggle_button_lavish_menu:focus, a.toggle_button_lavish_menu:active, a.toggle_button_lavish_menu:hover {
        color: unset;
    }

    ul.mobilemenu > li > a:hover, ul.mobilemenu > li > a:focus, ul.mobilemenu > li > a:active {
        background-color: #ff6b00;
    }

    ul.sub-menu > li > a:hover, ul.sub-menu > li > a:focus, ul.sub-menu > li > a:active, ul.sub-menu > li > a {
        display: flex;
        align-items: center;
    }

    .menu-item a.menu-image-title-below.menu-image-not-hovered img, .menu-item a.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper {
        margin: 0 30px !important;
    }

    .menu-item a.menu-image-title-above, .menu-item a.menu-image-title-below {
        text-align: unset;
    }

    .mobilemenu .menu-item .mobile-menu-icon {
        position: absolute;
        font-size: 2rem;
        right: 0;
        width: 70px;
        height: 66px;
    }

    .mobilemenu .menu-item .mobile-menu-icon:after {
        content: '\f0d7';
        font-family: FontAwesome;
        font-size: 3rem;
        position: absolute;
        right: 28px;
        top: 17px;
    }

    .mobilemenu .menu-item .mobile-menu-icon.color:after {
        content: '\f0d8';
        background: linear-gradient(135deg, #8a2f90 0%, #f23933 34%, #ff6b00 66%, #ffc200 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
    }

    .mobilemenu .sub-menu.show {
        display: block;
    }

}
