/*
Theme Name: Lavish
Theme URI: http://demo.styledthemes.com/pages/lavish.html
Author: Styled Themes
Author URI: http://www.styledthemes.com
Description: For anyone wanting a serious business website, Lavish Pro is the one for you because of what this theme includes. You get responsive design, multiple blog layout options, retina ready graphics, several page templates, post formats, gorgeous typography elements, tons of widget positions, a custom child theme, WooCommerce support, Jetpack support, video tutorials, and more!
Version: 2.5.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: custom-colors, two-columns, three-columns,custom-background, custom-header, custom-menu, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
Text Domain: lavish
Domain Path: /languages/



This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html {
	height: 100%;
}
body * {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
body {
	font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.428;
	background-color: #fff;
	color: #656565;
	overflow-x: hidden;
}
/*
=================================================
Header Top Settings 
=================================================
*/
.lavish_top {
	overflow: hidden;
	background-color: #5cb8e7;
	color: #fff;
}
.header_social_icons #social-icons ul li {
	display: inline-block;
	text-align: center;
}
.header_social_icons #social-icons {
	float: none;
}
.lavish_header .lavish_head {
	background-color: rgba(33, 50, 57, 0.85);

}
.lavish_header .two {
	background-color: #000;
	display: inline-block;
}
.lavish_header .two.right {
	float: right;
}
.lavish_header.header_two {
	position: fixed;
	width: 100%;
	margin-top: 15px;
	height: auto;
	z-index: 1000;
}
.lavish_header.header_two .lavish_top {
	margin-bottom: 10px;
	background: none;
}
/*
=================================================
Social Icons Settings
=================================================
*/
#social-icons {
	float: right;
}
#social-icons > ul {
	margin: 0px;
	padding: 0px;
}
#social-icons > ul > li {
	display: inline-block;
	margin: 0px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	o-transition: all ease-in-out 0.3s;
}
#social-icons > ul > li > a {
	margin: 0px!important;
	display: block;
	padding: 0.6rem 0.7rem;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	o-transition: all ease-in-out 0.3s;
	color: #fff!important;
}
#social-icons > ul > li > a:hover {
	background-color: #ff6b00!important;
}
/*
=================================================
Logo Settings
=================================================
*/
.lavish_logo {
	/* background: url(navbar-logo.png) left center no-repeat;
	width: 300px; */
	margin-top: 30px;
}
.lavish_menus {
	width: 100%;
	height: 94px;
}
.lavish_menu {
	width: 100%;
	height: 100%;
}
.navmenu{
	float: right;
	height: 100%;
}

@media screen and (max-width:1000px) {
	.mobile_menu_sticky {
		top: 75px !important;
	}
}

@media screen and (max-width:1000px) {
.lavish_logo {
	padding: 1px;
	float: left;
	width: 70%;
}
.lavish_menus {
	float: left;
	width: 30%;
}
.lavish_menu {
	float: left;
	width: 90%;
}
ul.navmenu {
	display: none;
}
}
@media screen and (max-width:380px) {
.lavish_logo {
	padding: 1px;
	float: left;
	width: 65%;
}
.toggle_button_lavish_menu {
	display: block;
	position: relative;
}
.lavish_menus {
	float: left;
	width: 35%;
}
.lavish_menu {
	float: left;
	width: 90%;
}
}
#la-site-header {
	padding: 2em 0;
}
#la-logo-group-wrapper {
}
#la-logo-group, #la-site-title-group {
	display: inline-block;
	overflow: hidden;
}
#la-site-title a {
	color: #5cb8e7;
}
#la-site-title-group {
	margin-left: 11px;
}
#la-logo {
	float: left;
	margin: 0 0.6em 0 0;
}
#la-site-title {
	margin: 0px;
	padding: 0px;
	font-size: 1.6em;
	color: #605F5F;
	font-weight: 900;
}
#la-site-tagline {
	font-size: 1.1em;
	margin: 0.35em 0 0em 0em
}
.logo_small_responsive_scale {
	padding: 3px;
	background-size: 100% 100%;
	margin-top: 3px!important;
}
.logo_small_responsive_scale img {
	height: 45px;
	width: auto;
}
.paddingo {
	padding: 0px !important;
}
.logo_small_responsive_scale #la-site-title-group {
	margin-top: -2px!important;
}
.logo_small_responsive_scale h1 a {
	font-size: 95%;
}
.logo_small_responsive_scale {
	margin: 0!important;
	font-size: 85%!important;
}
@media screen and (max-width:600px) {
.logo_small_responsive_scale {
	margin-top: -0px;
}
}
@media screen and (max-width:400px) {
.header_one h1#la-site-title a {
	font-size: 1rem;
}
.header_one h5#la-site-tagline {
	font-size: 0.6rem;
}
.header_one #la-logo-group {
	margin-top: 7px;
}
}
/*
============================================================
@ WIDGET LAYOUT
============================================================
*/
.widget {
	padding: 0.5rem 0rem 1rem 0rem;
}
.lr_top_widgets, .lr_widgets_cta, .lr_widgets_insettop, .lr_widget_inset_bottom, .lr_widget_content_bottom, .lr_widgets_bottom_widget, .lavish_footer {
	padding: 1rem 0rem;
}
.lr_top_widgets {
	background-color: #FAFAFA;
}
.la-contents {
	padding: 1rem 0rem 2rem 0rem;
	background-color: #F4F4F4;
	min-height: 420px;
}
.la-content-inside {
	padding-top: 1.5rem;
}
.lr_widgets_cta {
	background-color: #EFEFEF;
}
.lr_widgets_insettop {
	background-color: #5cb8e7;
}
.lr_widgets_insetfull {
	overflow: hidden;
	background-color: #FBFBFB;
}
.lr_widgets_bottom_widget {
	background-color: #282828;
	border-top: 10px solid #ff6b00;
}
.lr_widgets_bottom_widget h3 {
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid #EAEAEA;
	padding-bottom: 10px;
	display: inline-block;
}
.lr_widgets_bottom_widget .dotlinebox {
	margin: 10px;
}
.lr_widgets_bottom_widget p, .lr_widgets_bottom_widget div, .lr_widgets_bottom_widget span, .lr_widgets_bottom_widget a {
	color: #EAEAEA;
}
.lr_widgets_bottom_widget a {
	display: block;
	padding: 5px 0px;
	transition: All ease-in-out 0.3s;
	-webkit-transition: All ease-in-out 0.3s;
	-moz-transition: All ease-in-out 0.3s;
	-o-transition: All ease-in-out 0.3s;
}
.lr_widgets_bottom_widget a:hover, .lr_widgets_bottom_widget a:focus, .lr_widgets_bottom_widget a:visited {
	text-decoration: none;
	margin-left: 15px;
	outline: none;
}
.lr_widgets_bottom_widget h1, .lr_widgets_bottom_widget h2, .lr_widgets_bottom_widget h3, .lr_widgets_bottom_widget h4, .lr_widgets_bottom_widget h5, .lr_widgets_bottom_widget h6 {
	margin-bottom: 0.50em;
	color: #ff6b00;
}
/*
=================================================
Accordians
=================================================
*/
.accordian_title span {
	margin-right: 5px;
}
#lavish_accordion1 .accordian_title {
	border-radius: 10px;
	font-size: 1.2em;
}
#lavish_accordion_icons1 .accordian_title {
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.2em;
}
.ui-tabs {
	position: relative;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
	background-color: #E6EBEC;
	font-weight: bold;
	text-align: left;
}
.ui-tabs .ui-tabs-nav li > a {
	color: #888;
}
#lavish_tabs1.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 0.85em!important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: 0.5em 1em!important;
	text-decoration: none;
	font-size: 1em!important;
	outline: none;
	width: 100%;/* font-weight: bold; */
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
#lavish_tabs_left.ui-tabs .ui-tabs-nav li.ui-tabs-active:after {
	content: "";
	border-left: 15px solid #26C281;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid transparent;
	color: #fff;
	position: absolute;
	right: -28px;
	top: 8px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	clear: both;
	background: none;
	border: 1px solid #DFDFDF;
	padding: 1em;
}
.ui-tabs-active.ui-state-active {
	background-color: #26C281!important;
	color: #838383!important;
	border: none!important;
	outline: none!important;
	box-shadow: none!important;
	color: #fff!important;
}
.ui-tabs-active.ui-state-active > a {
	color: #fff!important;
	font-size: 1.2em!important;
}
#lavish_tabs_left ul.ss_tabs {
	margin: 0px;
	padding: 0px;
	width: 20em;
	height: 100%;
	border-right: 1px solid #EAEAEA;
	position: relative;
	float: left;
}
#lavish_tabs_left ul.ss_tabs li {
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
}
#lavish_tabs_left .ui-tabs-panel {
	/* padding-left: 16em; */
	clear: none;
	border: 1px solid #EAEAEA;
	margin-left: 22em;
	position: relative;
	overflow: hidden;
}
#lavish_tabs1 > ul > li {
	margin-right: 55px;
	background-color: #35B3BE;
}
#lavish_tabs1 > ul > li:hover {
	opacity: 0.75;
}
#lavish_tabs1 > ul > li a {
	color: #fff;
}
#lavish_tabs1.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.36em 1em!important;
}
#lavish_tabs1 > ul > li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
	background-color: #dd992a!important;
}
#lavish_tabs1 > ul > li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -40px;
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-top: 17px solid transparent;
	border-right: 22px solid #dd992a;
	border-bottom: 18px solid transparent;
}
#lavish_tabs1 > ul > li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:after {
	content: "";
	position: absolute;
	bottom: 0px;
	right: -40px;
	width: 0;
	height: 0;
	border-right: 18px solid transparent;
	border-top: 17px solid transparent;
	border-left: 22px solid #dd992a;
	border-bottom: 18px solid transparent;
}
#lavish_tabs1 > ul > li:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -40px;
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-top: 17px solid transparent;
	border-right: 22px solid rgb(53, 179, 190);
	border-bottom: 18px solid transparent;
}
#lavish_tabs1 > ul > li:after {
	content: "";
	position: absolute;
	bottom: 0px;
	right: -40px;
	width: 0;
	height: 0;
	border-right: 18px solid transparent;
	border-top: 17px solid transparent;
	border-left: 22px solid rgb(53, 179, 190);
	border-bottom: 18px solid transparent;
}
#lavish_tabs1.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .0em .2em;
	text-align: center;
	/* float: right; */
	/* margin-bottom: 1em; */
	margin-top: 2em;
	display: inline-block;
}
#lavish_tabs1.ui-tabs .ui-tabs-panel {
	border: none;
	text-align: center;
	margin-top: 2em;
}
a[data-lightbox] {
	display: inline-block;
	width: 100%;
}
.lavish_gallery {
	width: 100%;
}
.gallery_item {
	padding: 5px 5px 0px 5px;
}
.gallery_item img {
	width: 100%;
}
.gallery_item img:hover {
	opacity: 0.7;
}
#lavish_tabs1 {
	text-align: center;
}
.counter {
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem 0rem;
}
.home_page_title {
	font-family: lato, 'sans-serif';
}
ul.page-numbers {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
ul.page-numbers > li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.page-numbers > li > a {
	padding: 0.5em;
	background-color: #505050!important;
	color: #fff;
	margin-right: 0.5em;
	text-decoration: none;
}
ul.page-numbers > li > span {
	background-color: #00EBFF!important;
	color: #fff!important;
	;
}
ul.page-numbers > li > a:hover, ul.page-numbers > li > span:hover, ul.page-numbers > li > a:focus, ul.page-numbers > li > a:visited {
	text-decoration: none;
	opacity: 0.7;
	cursor: pointer;
}
/*landing page templates */
.landing_page_progress {
	height: 2px;
	width: 1%;
	background-color: #fff;
}
/*
============================================================
@ Style for Right Sidebar and Left Sidebar Widgets
============================================================
*/
.right_sidebar a, .left_sidebar a {
	padding: 1rem 0rem!important;
}
.right_sidebar .widget ul li, .left_sidebar .widget ul li {
	list-style: none;
	padding: 0.5rem 0rem;
	border-bottom: 1px solid #EAEAEA;
}
.widget a:hover, .widget a:focus, .widget a:visited {
	text-decoration: none;
	outline: none;
}
.widget ul {
	margin: 0px;
	padding: 0px;
}
.widget ul li {
	list-style: none;
	margin: 0px;
	padding: 0.05em;
}
/* Custom Widget Styles*/

.widget.w_link_slide ul li a:before, .widget.w_link_slide ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	margin-right: 5px;
}
.widget.w_link_slide ul li a {
	transition: All ease-in-out 0.3s;
	-webkit-transition: All ease-in-out 0.3s;
	-moz-transition: All ease-in-out 0.3s;
	-o-transition: All ease-in-out 0.3s;/* margin: -6px; */
}
.widget.w_link_slide ul li a:hover {
	text-decoration: none;
	margin-left: 15px;
	outline: none;
}
.textwidget {
	padding: 0em 0rem;
	font-size: 0.85rem;
	line-height: 1.4rem;
}
#calendar_wrap {
	margin-top: 1.25em;
}
table#wp-calendar {
	width: 100%;
}
span.input-group-addon button {
	padding: 0.5em 0.8em;
}
/*
==================================================================
WORDPRESS DEFAULT WIDGETS
==================================================================
*/
.widget_calendar caption {
	text-transform: uppercase;
	background-color: #384149;
	margin-bottom: 1px;
	padding: 5px 3px;
	border-radius: 3px 3px 0px 0px;
	color: #fff;
}
.widget_calendar th {
	background: padding-box padding-box #E2E3E4;
	border-left: 1px solid rgba(0, 0, 0, 0);
	color: #333;
	text-align: center;
	font-weight: bold;
}
.widget_calendar tbody, .widget_calendar thead {
	border: 1px solid #E2E3E4;
}
.widget_calendar tbody td {
	background: padding-box padding-box #FCFDFD;
	border-left: 1px solid rgba(0, 0, 0, 0);
	border-top: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
}
.widget_calendar tbody td:first-child {
	border-left: none;
}
.widget_calendar tbody td#today {
	background-color: #9ca9b0;
	color: #FFF;
	font-weight: bold;
}
.widget_calendar tbody td#today a {
	color: #fff;
}
/* WP Default widget - Tag Cloud */

.tagcloud a {
	font-size: 0.80rem!important;
	display: inline-block;
	margin: 2px;
	color: #fff;
	padding: 0.2rem 0.3rem;
	background-color: #282828;
	border-color: #545454;
	border: 1px solid #EAEAEA;
}
.right_sidebar .tagcloud a, 
.left_sidebar .tagcloud a {
	padding: 0.2rem 0.3rem !important;
}
.tagcloud a:hover {
	border-color: #9ca9b0;
	color: #000;
	text-decoration: none;
	background-color: #fff;
	font-size: 0.80rem!important;
	display: inline-block;
	margin: 2px;
	padding: 0.2rem 0.3rem;
}
/*
============================================================
@ MOVE TO TOP
============================================================
*/

/*
============================================================
@ MOVE TO TOP
============================================================
*/
.circumference_move_to_top {
	float: right;
	bottom: 1em;
	border: 1px solid #000;
	padding: 0.5em 0.75em;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	z-index: 99999;
	position: fixed;
	right: 2%;
	display: none;
}
.circumference_move_to_top:focus, .circumference_move_to_top:hover, .circumference_move_to_top:visited {
	background-color: #000;
	color: #fff;
	list-style: none;
	text-decoration: none;
	outline: none;
}
.circumference_footer #social-icons {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.icon-arrow-up:before {
    content: "\e901";
}
/*
============================================================
@ Responsive Framework Design
============================================================
*/
@media screen and (max-width:860px) {
.lavish_top {
	text-align: center;
}
.lavish_top #social-icons {
	float: none;
}
#lavish_tabs1.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.6em 1em!important;
}
}
@media screen and (max-width:750px) {
#lavish_tabs_left ul.ss_tabs {
	width: 100%;
}
#lavish_tabs_left .ui-tabs-panel {
	margin-left: 0px;
}
#lavish_tabs1 > ul > li {
	width: 100%;
	margin: 0px!important;
	margin-bottom: 3px!important;
}
#lavish_tabs > ul > li {
	width: 100%;
	margin: 0px!important;
	margin-bottom: 3px!important;
}
}
.left_sidebar_content {
	width: 5%;
	text-align: right;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding-right: 10px;
	float: left;
}
.right_sidebar_content {
	margin-left: 2%;
	float: left;
	width: 90%;
	position: relative;
}
.post_date {
	font-size: 1.6em;
	line-height: 1.2em;
	border-bottom: 4px solid #EAEAEA;
	padding-bottom: 5px;
}
.post_comment {
	font-size: 2em;
	font-weight: bold;
}
.la-gallery-item {
	padding: 0px!important;
	margin: 0px!important;
}
select {
	height: 40px;
}
/* 
============================================================
JETPACK CSS
============================================================
*/
.jetpack_single {
	text-align: left;
}
.lavish_banner .textwidget {
	padding: 0px;
}
.widget.center .textwidget {
	text-align: center;
}
.la_center {
	text-align: center;
}
.la-box-content {
	padding: 2rem;
	text-align: center;
}
/*
=================================================
Navmenu Search and Cart Icon
=================================================
*/


ul.header_extra {
	margin: 0px;
	padding: 0px;
	float: right;
	z-index: 9998;
}
ul.header_extra li {
	margin: 0px 0.6rem;
	padding: 0rem;
	line-height: 80px;
	list-style: none;
	float: left;
	z-index: 9999;
	cursor: pointer;
	color: #fff;
}
ul.header_extra li a {
	font-size: 1rem;
}
ul.header_extra ul {
/* width: 100%; */
	/* position: fixed; */
	/* float:right; */
	/* right: 0rem; */
	/* top: 0; */
	/* margin:0px; */
	/* padding:0px; */
	/* display:none; */
	/* background: #FFF; */
	/* height:80px; */
	/* z-index: 99999; */
	
}
ul.header_extra ul li {
	padding: 1rem 1rem 0.2rem 1rem;
	width: 100%;
	float: left;
	margin: 0px;
}
ul.header_extra ul ul.cart_list {
	margin: 0px!important;
	padding: 0px!important;
	position: relative;
	float: left;
	width: 95%;
	margin-left: -20px!important;
}
ul.header_extra ul ul.cart_list li {
	float: left;
	margin: 0rem 0rem;
	line-height: 20px;
	background-color: #fff;
	display: block;
	padding: 0.5rem;
	text-decoration: blink;
}
ul.header_extra ul ul.cart_list li a {
	text-decoration: blink;
}
ul.header_extra ul li p {
	margin: 12px;
}
ul.header_extra ul ul li img {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
ul.header_extra ul li input[type="text"] {
	height: 40px;
	background: none;
	border: none;
	border-bottom: 1px solid #505050;
	font-size: 20px;
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	animation: blink .75s linear infinite;
}
ul.header_extra ul li .input-group-addon {
	padding: 0px;
	border: none;
}
ul.header_extra ul li .btn {
	background: none;
	color: #505050;
}
ul.header_extra li:hover ul {
	display: block;
}
.page-content.no-results input-group-addon {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.input-group-addon .btn {
	height: 38px!important;
	margin-top:10px;
}
h1.entry-title {
	margin-bottom: 10px;
	padding-top: 6px;
}
.wk-slideshow-lavish .caption {
	bottom: 4rem!important;
}
@media screen and (max-width:1000px) {
}
@media screen and (max-width:400px) {
.wk-slideshow-lavish .caption {
	bottom: 0rem!important;
}
}
#bbpress-forums #bbp-search-form #bbp_search {
	height: 32px;
}
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	border: none;
}
.lr_widgets_bottom_widget ul {
	margin: 0px;
	padding: 0px;
}
.lr_widgets_bottom_widget ul li {
	list-style: none;
	margin: 0px;
	padding: 0.05em;
	border-bottom: 1px solid #6D6D6D;
}

.widget ul, #la-bottom-wrapper .widget ul {
	list-style: none;
	margin: 1.250em 0;
	padding: 0;
}
.widget ul ul {
	margin: 0 0 0 0.938em;
	padding: 0;
}
#la-bottom-wrapper ul {
	margin: 1.250em 0 0;
}
/* widget style 7 Menu */
.menu.widget li {
	line-height: 2;
}
.menu.widget ul.sub-menu {
	margin-left: 0;
}
.menu.widget a {
	color: #656565;
}
.menu.widget ul li:before {
	top: 2px!important;
	font-family: icomoon;
	content: "\e617";
}
.menu.list-lines ul li:before {
	content: "";
}
.menu.widget ul.sub-menu li:before {
	padding-left: 0;
}
.menu.widget ul.sub-menu li {
	padding-left: 1.5em;
}
.menu.widget ul li:hover:before {
	text-decoration: none;
}
.menu.list-lines li {
	border-top: 1px solid #e2e5e7;
	line-height: 2.5;
	padding-left: 0;
}
.menu.list-lines li:last-child {
	border-bottom: 1px solid #e2e5e7;
}
.menu.list-lines ul.sub-menu li:last-child {
	border-bottom: none;
}
/*
============================================================
@ Content LAYOUT
============================================================
*/
.la-content {
/* background: #C2BEBE; */
}

.la-content-box-left-icon {
	width: 20%;
	float: left;
	text-align: right;
	margin-right: 2%;
}
.la-content-box-left-content {
	width: 75%;
	float: left;
}
.la-content-box-right-icon {
	width: 20%;
	float: left;
	margin-left: 3%;
}
.la-content-box-right-content {
	width: 75%;
	float: left;
	text-align: right;
}
.la-content-box {
	padding: 1em;
}
/*
============================================================
@ FOOTER LAYOUT
============================================================
*/
.lavish_footer {
	color: #FFFFFF;
	background-color: #282828;
}
.lavish_footer p {
	color: #FFFFFF;
}
.lavish_footer #social-icons {
	float: none;
	margin-bottom: 5px;
}
.lavish_footer #social-icons > ul {
	text-align: center;
	float: none;
	width: 100%;
}
.lavish_footer #social-icons > ul > li {
	display: inline-block;
}
ul.footer {
	margin: 10px;
	padding: 0px;
	float: none;
	text-align: center;
}
ul.footer > li {
	display: inline-block;
	margin-left: 0px!important;
	margin-right: 10px;
}
ul.footer > li, ul.footer > li > a {
	color: #fff;
}
ul.footer > li:first-child:before {
	content: "";
}
ul.footer > li:before {
	content: "|";
	font-family: FontAwesome;
	margin-right: 5px;
}
ul.footer > li:hover {
	opacity: 0.7;
}
/*
============================================================
@ WRAPPERS
============================================================
*/
#la-wrapper-boxed-small, #la-wrapper-boxed-medium {
	max-width: 1200px;
	margin: 1.5em auto;
	position: relative;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, .5);
}
#la-wrapper-boxed-small {
	max-width: 1000px;
}
/*
============================================================
@ BREADCRUMBS WRAPPER
============================================================
*/
.la-breadcrumbs-wrapper {
	background-color: #FAFAFA;
}
.la-breadcrumbs-wrappers {
	font-size: 0.75rem;
	padding: 0.3rem 0rem;
	font-family: open sans, 'sans-serif';
	margin-left: 0;
}
/*
.la-breadcrumbs-wrappers:before {
	content:"\f0a4";
	margin-right:5px;
	margin-left:10px;
	font-family:FontAwesome;

}
*/
.la-breadcrumbs-wrappers span {
	font-family: open sans, 'sans-serif';
	font-size: 0.70rem;
}
.la-breadcrumbs-wrappers span a {
	font-size: 0.75rem;
	font-family: open sans, 'sans-serif';
}
.la-breadcrumbs-wrappers span a:hover {
	font-family: open sans, 'sans-serif';
}
/*
============================================================
@ SEARCH RESULTS PAGE
============================================================
*/
.no-results {
	min-height: 365px;
	background: transparent url(images/search-bg.png) center top no-repeat;
	text-align: center;
}
.search-no-results .page-header {
	text-align: center;
	font-weight: bold;
	margin-bottom: 1em;
}
.no-results p {
	font-size: 1.25em;
}
/*
============================================================
@ TYPOGRAPHY
============================================================
*/
h1, h2, h3, h4, h5, h6 {
	margin: 15px 0px;
	padding: 0;
	font-weight: 700;
	font-style: normal;
	line-height: 1.1;
	font-family: Lato, 'sans-serif';
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	margin: 0 0 10px;
	padding: 0;
	font-weight: 700;
	font-style: normal;
	line-height: 1.1;
	margin-bottom: 10px;
	font-family: Lato, 'sans-serif';
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
}
h1, h1 > a {
	font-size: 1.7rem;
	color: #565656;
}
h2, h2 > a {
	font-size: 1.5rem;
	color: #565656;
}
h3, h3 > a {
	font-size: 1.3rem;
	color: #565656;
}
h4, h4 > a {
	font-size: 1.15rem;
	color: #565656;
}
h5, h5 > a {
	font-size: 1.07rem;
	color: #565656;
}
h6, h6 > a {
	font-size: 1rem;
	font-family: Lato, 'sans-serif';
	color: #565656;
}
p, td {
	font-size: 0.80rem;
	line-height: 1.4rem;
	color: #565656;
}
div {
	font-size: 0.80rem;
	line-height: 1.4rem;
}
li, span {
	font-size: 0.80rem;
}
a {
	font-size: 0.80rem;
	color: #3A9AD9;
}
a:hover {
	color: #505050;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
pre {
	background: #eee;
	border-left: 0.813em solid #c6b274;
	color: #333;
	font-size: 0.938em;
	line-height: 1.6;
	margin: 2em 0;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
}
/*
============================================================
@ BLOCKQUOTE AND ADDRESS
============================================================
*/
blockquote {
	margin: 2em 0;
	border-left: 10px solid #c1c8cd;
	padding-left: 1em;
	font-size: 1.063em;
	font-style: italic;
	color: #434343;
}
blockquote p {
	margin: 0;
}
blockquote cite {
	color: #b9bdbf;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.5;
}
blockquote cite:before {
	content: "\2014";
	margin-right: .5em;
}
blockquote.pull-left {
	margin: .638em 2em .638em 0;
	width: 26%;
}
blockquote.pull-right {
	margin: .638em 0 .638em 2em;
	width: 26%;
}
blockquote.pull-left cite, blockquote.pull-right cite {
	display: block;
	margin: 2px 0;
}
address {
	margin: 0 0 24px;
}
abbr, acronym {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}
del {
	text-decoration: line-through;
	color: #9f3e20;
}
ins {
}
mark {
	background: #9ca9b0;
	color: #fff;
	text-decoration: none;
	padding: 0 0.5em;
}
sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 24px;
}
th {
	font-weight: bold;
}

.alignnone {
	margin: 0.5em 30px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 0.5em auto 5px auto;
}
.alignright {
	float: right;
	margin: 0em 0 20px 30px;
}
.alignleft {
	float: left;
	margin: 0em 30px 20px 0;
}
.aligncenter {
	display: block;
	margin: 0.5em auto;
}
a img.alignright {
	float: right;
	margin: 0.5em 0 20px 30px;
}
a img.alignnone {
	margin: 1rem 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 0.5em 30px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	max-width: 100%; /* Image does not overflow the content area */
	padding: 0;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 1.25em 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 1.25em 30px 20px 0;
}
.wp-caption.alignright {
	margin: 1.25em 0 20px 30px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}
figcaption.wp-caption-text {
	font-size: 14px;
	line-height: 17px;
	margin: 2px 0 0;
	padding: 2px 4px 3px;
	color: #656565;
	background-color: #e2e5e7;
}
.lavish_menu {
	font-family: open sans, 'sans-serif';
	font-weight: 600;
}
@media screen and (max-width: 1030px) {
ul.navmenu {
	display: none;
}
.toggle_button_lavish_menu {
	display: block!important;
	position: relative;
}
a.toggle_button_lavish_menu {
	color: #2BAFBB;
	z-index: 9978;
	position: relative;
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}
a.toggle_button_lavish_menu:focus,  a.toggle_button_lavish_menu:active,  a.toggle_button_lavish_menu:hover {
	list-style: none;
	text-decoration: none;
	outline: none;
	color: #f00;
}
a.toggle_button_lavish_menu:before {
	content: "\f0c9";
	font-family: FontAwesome;
	font-size: 2em;
}
ul.mobilemenu {
	width: 100%;
	margin: 0px!important;
	padding: 0px!important;
	z-index: 99999!important;
	max-height: 400px!important;
	overflow-y: scroll;
}
ul.mobilemenu > li {
	width: 100%;
	margin: 0px!important;
	padding: 0px!important;
	text-decoration: none;
	list-style: none;
}
ul.mobilemenu > li > a {
	display: block;
	padding: 0.6rem 1rem;
	text-decoration: none;
	list-style: none;
	font-size: 1em;
	color: #888;
	border-bottom: 1px solid #EAEAEA;
}
ul.mobilemenu > li > a:hover,  ul.mobilemenu > li > a:focus,  ul.mobilemenu > li > a:active {
	outline: none;
	background-color: #2bafbb;
	color: #fff;
}
ul.mobilemenu ul.sub-menu {
	display: block;
	position: relative;
	background-color: #fff;
	width: 100%;
	padding-left: 1em!important;
	margin: 0px!important;
	right: 0px!important;
	text-align: left;
	border-bottom: none;
}
ul.sub-menu > li {
	list-style: none;
	text-decoration: none;
	border-bottom: 1px solid #EAEAEA;
	display: block;
	width: 100%;
	margin: 0px;
}
ul.sub-menu > li > a {
	padding: 0.6rem 1rem;
	display: block;
	color: #888;
	width: 100%;
	list-style: none;
	text-decoration: none;
}
ul.sub-menu > li > ul.sub-menu {
	right: 0%!important;
	top: 0px;
	padding: 0px;
	padding: 0em 0rem;
	border-top: 1px solid #EAEAEA;
	margin-left: 15px!important;
}
ul.sub-menu > li > ul.sub-menu > li > a {
	padding: 0.6rem 0;
	font-size: 0.8rem;
}
.mobilemenu .sub-menu li,  .mobilemenu .children li {
	font-size: 0.85em;
	text-transform: none;
}
ul.sub-menu > li > a:hover,  ul.sub-menu > li > a:focus,  ul.sub-menu > li > a:active {
	background-color: #888;
	color: #fff;
}
ul.mobilemenu ul a,  .mobilemenu ul ul a {
	margin: 0;
	width: 100%;
}
ul.mobilemenu li:hover > ul,  .mobilemenu ul li:hover > ul {
	/* THE DISPLAY IS COMMENTED SO WE CAN CONTROL THE TOGGLE */
	/* display: block; */
	margin-right: 0px;
	right: 0%;
}
ul.mobilemenu li:hover ul ul,  .mobilemenu ul li:hover ul ul {
	margin-right: auto;
	right: 0%;
}
.mobilemenu .current_page_item > a,  .mobilemenu .current_page_ancestor > a,  .mobilemenu .current-menu-item > a,  .mobilemenu .current-menu-ancestor > a {
	outline: none;
	background-color: #df5d01;
	color: #fff;
}
ul.sub-menu .current_page_item > a,  ul.sub-menu .current_page_ancestor > a,  ul.sub-menu .current-menu-item > a,  ul.sub-menu .current-menu-ancestor > a {
	background-color: #fff!important;
	color: #888;
}
}
/*
=================================================
404 Page 
=================================================
*/
.error-content {
	text-align: center;
	background: transparent url(images/404.png) center top no-repeat;
	min-height: 400px;
}
.error-content .input-group-box {
	max-width: 35em;
	margin: 2em auto;
}
/*
=================================================
BLOG PAGE LAYOUT AND FEATURED IMAGE
=================================================
*/
.entry-meta {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 5px;
}
.entry-meta a {
	margin-right: 5px;
	font-size: 0.7rem;
	color: #000;
}
.entry-meta span {
	font-size: 0.7rem;
}
.entry-meta span.lr_blog_entry_head {
	color: #d65900e1;
}
.entry-meta span.lr_blog_entry_head_featured {
	margin-right: 5px;
	background-color: brown;
	color: #fff;
	padding: 3px 5px;
}
.edit-link a {
	margin-right: 5px;
	background-color: brown;
	color: #fff;
	padding: 3px 5px;
}
.edit-link a:hover {
	margin-right: 5px;
	background-color: #505050;
	color: #fff;
	padding: 3px 5px;
}

.blog_seperator {
	border-bottom: 1px solid #EAEAEA;
	padding: 10px 0px;
	margin: 0px 0px 30px 0px;
}
.entry-content p {
	margin-top: 0px;
}
.post-thumbnail img {
	margin-bottom: 15px;
}
/*
=================================================
PAGINATION
=================================================
*/
.navigation.post-navigation {
	border-top: 1px solid #EAEAEA;
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}
.page_pagination {
	margin: 1rem 0rem;
	border-top: 1px solid #EAEAEA;
	padding-top: 5px;
	clear: both;
	margin-bottom: 0;
}
.page_pagination a {
	padding: 0.3rem 0.6rem;
	color: #fff;
	background-color: rgb(42, 184, 189);
	margin-right: 3px;
}
.page_pagination a:hover {
	background-color: #505050;
}
.page_pagination span {
	padding: 0.3rem 0.6rem;
	color: #fff;
	background-color: #505050;
	margin-right: 3px;/* border-radius:5px; */
}
.nav-links {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
}
.nav-links-buttons {
	display: table-row;
}
.previous-next {
	text-transform: uppercase;
	padding-left: 1em;
	display: table-cell;
	font-style: normal;
	vertical-align: middle;
	font-size: 0.938em;
	height: 26px;
}
.paging-navigation {
	border-top: 1px solid #e2e5e7;
	border-bottom: 1px solid #e2e5e7;
}
.image-navigation {
	text-align: center;
}
.paging-navigation .nav-previous, .paging-navigation .nav-next, .post-navigation .nav-previous, .post-navigation .nav-next, .image-navigation .previous-image, .image-navigation .next-image {
	display: table-cell;
	color: #888;
	text-align: center;
	padding-top: 4px;
	font-size: 1.250em;
}
.image-navigation .previous-image, .image-navigation .next-image {
	display: inline-block;
}
/*
=================================================
PAGINATION MULTIPLE PAGES
=================================================
*/
.pagination-wrapper {
	margin: 3em 0;
	padding: 0.5em 0;
	border-top: 1px solid #e2e5e7;
	border-bottom: 1px solid #e2e5e7;
}
.pagination-wrapper label {
	float: left;
	margin-top: 3px;
	margin-right: 0.313em;
	font-size: 1.063em;
	text-transform: uppercase;
}
.pagination {
	margin: 0;
	padding-left: 2.5em;
}
.pagination li:before {
	content: "";
	padding: 0;
}
.pagination li {
	display: inline;
	padding: 0;
}
.pagination li a, .pagination li span {
	display: block;
	width: 2.25em;
	height: 2.25em;
	float: left;
	margin-right: 0.25em;
	border-radius: 50%;
	background-color: #E2E5E7;
	text-align: center;
	font-size: 1em;
	line-height: 2.25em;
	font-weight: normal;
	text-decoration: none;
}
.pagination li, .pagination li a {
	color: #656565;
}
.pagination li a:hover, .pagination span.active {
	background-color: #9ca9b0;
	color: #fff;
}
/*
=================================================
POST COMMENTS
=================================================
*/
.comments-area {
	margin: 4rem 0;
}
.comments-title {
	padding: 0.5em 0.5em;
	font-size: 1.313em;
	font-weight: 600;
	color: #888;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3;
	border-bottom: 3px solid #EAEAEA;
}
.comment-list {
	margin: 2em 0;
	list-style: none;
	padding: 0.25em;
	outline: none;
}
.la-comment-form_trigger {
	float: right;
	display: none;
}
.comment-list .children li:before {
	content: '';
}
.comment-list .children {
	list-style: none;
	margin-left: 4em;
	padding: 0;
}
.comment-wrapper {
	padding-top: 0rem;
}
.comment-body {
	margin-left: 5rem;
	padding: 0.5rem;
	border-bottom: 1px dotted #EAEAEA;
	margin-bottom: 1rem;
}
.children .comment-body {
	margin-left: 4em;
}
.comment-avatar {
	display: inline-block;
	float: left;
}
.comment-avatar .avatar {
	border-radius: 50%;
}
.children .avatar {
	width: 40px;
	height: 40px;
}
.comment-author cite.fn {
	font-style: normal;
	font-size: 1.125em;
	font-weight: 700;
}
.comment-meta {
	font: bold 0.938em "Open Sans", "Segoe UI", sans-serif;
}
.comment-metadata .edit-link {
	font-weight: 400;
}
.comment-metadata .edit-link, .comment-metadata .reply {
	display: inline-block;
	margin: 0 5px;
}
.comment-content {
	line-height: 1.5;
	color: #89959b;
}
.comment-content p {
	margin: 0.5em auto 1.250em;
}
.comment-content blockquote {
	border: none;
	background-color: #f3f3f3;
	margin: 1em 0;
	padding: .75em 1em .25em;
	font-size: 1em;
	color: #656565;
}
/*
=================================================
LIST STYLES
=================================================
*/
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 1em 1.5em;
}
ul, ol {
	margin: 0 0 24px 22px;
}
ul {
	list-style: disc;
	margin: 1.250em;
	padding: 0;
}
ol {
	list-style: decimal;
	margin: 1.250em;
	padding-left: 2.5em;
}
li > ul, li > ol {
	margin: 5px 0 5px 7px;
}
li > ol, aside li > ul {
	margin: 0.5em 0;
}
ul li {
	margin-left: 2.125em;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
aside ul li {
	list-style: disc;
}
ul.list-dash li, ul.list-checkmark li, ul.list-solid-square li, ul.list-square li, ul.list-curve-arrow li, ul.list-solid-arrow li, ul.list-short-arrow li, ul.list-frcle li, ul.list-lines li {
	margin-left: 0;
	padding: 0 0 0 2.125em!important;
	position: relative;
	box-sizing: border-box;
	line-height: 1.75;
}
ul.list-dash li:before, ul.list-checkmark li:before, ul.list-solid-square li:before, ul.list-square li:before, ul.list-curve-arrow li:before, ul.list-solid-arrow li:before, ul.list-short-arrow li:before, ul.list-frcle li:before, ul.list-lines li:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	display: inline-block;
	top: 1px;
	left: 0px;
	padding: 0 0 0 6px;
	font-family: 'icomoon';
	font-size: 12px;
	line-height: 1;
	color: #979da2;
}
/* list default */
ul li:before {
	content: '';
}
/* list dash */
ul.list-dash li {
	list-style: none;
}
ul.list-dash li:before, aside .list-dash.widget li:before {
	content: "\e672";
	font-size: 1em;
	line-height: 1.75;
}
/* list checkmark */
ul.list-checkmark li {
	list-style: none;
}
ul.list-checkmark li:before, aside .list-checkmark.widget li:before {
	content: "\e62c";
	font-size: 1em;
	line-height: 1.75;
}
/*
=================================================
SEPERATORS
=================================================
*/
hr {
	border-top: 1px solid #e2e5e7;
	height: 1px;
	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
}
.article-separator {
	height: 1.75em;
}
hr, .la-divider-dotline, .la-divider-space, .la-divider-top, .la-divider-double, .la-divider-shadow {
	margin: 2em 0;
	height: 0;
	clear: both;
}
header .la-divider-dotline {
	margin: 1rem 0em 1rem 0em;
	display: block;
}
.la-divider-dotline, .la-divider-top {
	position: relative;
	border-bottom: 1px solid #e2e5e7;
}
.la-divider-top .la-toplink {
	position: absolute;
	right: 0;
	bottom: -8px;
	background-color: #fff;
	font-size: .813em;
	padding: 0 0.5em;
}
.la-divider-top .la-toplink:hover {
	text-decoration: none;
}
.la-divider-double {
	height: 4px;
	border-top: 1px solid #e2e5e7;
	border-bottom: 1px solid #e2e5e7;
}
.la-divider-shadow {
	height: 10px;
	padding: 2em 0;
	background: transparent url(images/divider-shadow.png) center 50% no-repeat;
}
/*
==================================================================
TEXT LABELS
==================================================================
*/
.la-label {
	position: relative;
	display: inline;
	margin: 0;
	padding: 0.07em 0.938em;
	font-size: 0.75em;
	font-weight: 900;
	line-height: 1.5;
	background-color: #9CA9B0;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
/*
================================================================
TABLES
================================================================
*/
table td {
	vertical-align: top;
}
.table td {
	vertical-align: middle;
}
/*
=================================================
Bb PRESS
=================================================
*/
#bbpress-forums li:before {
	content: "";
}
#bbpress-forums li {
	padding-left: 0;
}
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
	background-color: #e2e5e7;
}
a.bbp-forum-title {
	font-size: 1.5em;
}
a.bbp-topic-permalink {
	font-size: 1.313em;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
	font-size: 1em;
}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums div.bbp-template-notice img.avatar {
	margin-bottom: 2px;
	border: none;
}
div.bbp-template-notice, div.indicator-hint {
	background-color: #f0ecde;
	border: none;
	padding: 0.250em 1em;
	color: #bba45e;
}
div.bbp-template-notice.info {
	border: none;
	background-color: #e1f1f2;
	padding: 0.250em 1em;
	color: #656565;
}
#bbpress-forums fieldset.bbp-form {
	border: none;
	padding: 0;
}
#bbpress-forums .wp-editor-area {
	border: 1px solid #E2E5E7;
	border-radius: 4px;
}
div.bbp-submit-wrapper {
	float: left;
}
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar, #bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border-radius: 50%;
	padding: 4px;
	background-color: #f0f0f0;
	border: 1px solid #d5d5d5;
}
#subscription-toggle {
	float: right;
}
.bbp-form p {
	clear: both;
}
/*
=================================================
NAVIGATION MENU
=================================================
*/
ul.nav-menu, div.nav-menu > ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.nav-menu li:before {
	content: '';
}
.nav-menu li {
	display: inline-block;
	position: relative;
	font-size: 1em;
	margin-left: 0;
	padding: 0;
}
.nav-menu li a {
	display: block;
	line-height: 1;
	padding: 2em 0.75em;
	text-decoration: none;
}
/* no background on mouseover for main level items */
.nav-menu li a:hover {
	background-color: #888;
	color: #fff;
}
/* submenus have a default background colour */
.nav-menu .sub-menu, .nav-menu .children {
	margin: 0;
	padding: 1em 0;
	border-bottom: 0.813em solid #27ad54;
	border-top: 0;
	text-align: center;
	display: none;
	position: absolute;
	z-index: 99999;
	border-left: 1px solid #27ad54;
	border-right: 1px solid #27ad54;
	border-radius: 0px;
}
.nav-menu .sub-menu:before {
	content: "";
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #27ad54;
	top: -20px;
	left: 140px;
	position: absolute;
}
.nav-menu .sub-menu li, .nav-menu .children li {
	font-size: 0.75em;
	text-transform: none;
}
.nav-menu .sub-menu ul, .nav-menu .children ul {
	right: 100%;
	top: 0;
}
/* width and colour for the sub menu */
ul.nav-menu ul a, .nav-menu ul ul a {
	margin: 0;
	width: 250px;
	padding: 8px 15px;
}
ul.nav-menu li:hover > ul, .nav-menu ul li:hover > ul {
	display: block;
	/* center the submenu block below the parent */
	margin-right: -100px;
	right: 50%;
}
ul.nav-menu li:hover ul ul, .nav-menu ul li:hover ul ul {
	/* cancel out centering block for 3rd level */	 
	margin-right: auto;
	right: 90%;
}
#secondary-nav ul.nav-menu li:hover ul ul, #secondary-nav .nav-menu ul li:hover ul ul {
	/* cancel out centering block for 3rd level */	 
	right: 90%;
}
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {
	font-style: italic;
}
.menu-toggle, .menu-toggle2 {
	display: none;
}

/* Mobile menu styling */

@media (max-width: 960px) {
#secondary-nav .menu-toggle-wrapper {
	padding-top: 0.5em;
}
.menu-toggle,  .menu-toggle2 {
	cursor: pointer;
	display: inline-block;
	font: bold 12px/1.3 'Open Sans', Calibri, Sans-serif;
	margin: 0 auto 1em;
	height: 50px;
	width: 50px;
	text-align: center;
	padding-top: 17px;
	border-radius: 100px;
	background-color: #eeeeee;
	color: #555;
}
.menu-toggle:hover,  .menu-toggle2:hover {
	border: 1px solid #d4d4d4;
	padding-top: 16px;
}
.toggled-on2 .nav-menu {
	margin-bottom: 1.5em;
}
.toggled-on .nav-menu,  .toggled-on .nav-menu > ul,  .toggled-on2 .nav-menu,  .toggled-on2 .nav-menu > ul {
	display: block;
	margin-left: 0;
	padding: 0;
	width: 100%;
	float: right;
}
.toggled-on li,  .toggled-on .children,  .toggled-on2 li,  .toggled-on2 .children {
	display: block;
	text-align: center;
}
.toggled-on .nav-menu li > ul,  .toggled-on2 .nav-menu li > ul {
	background-color: transparent;
	display: block;
	float: none;
	margin-left: 20px;
	padding: 3px 0;
	position: relative;
	right: auto;
	top: auto;
	/* remove the full menu shadow and border*/
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: none;
}
/* cancel out the centering of the submenu block below the parent */
ul.nav-menu li:hover > ul,  .nav-menu ul li:hover > ul {
	margin-right: 0;
	right: auto;
}
/* cancel out centering block for 3rd level */	
ul.nav-menu li:hover ul ul,  .nav-menu ul li:hover ul ul,  #secondary-nav ul.nav-menu li:hover ul ul,  #secondary-nav .nav-menu ul li:hover ul ul {
	margin-right: auto;
	right: auto;
}
.toggled-on .nav-menu li:hover > ul li:hover,  .toggled-on2 .nav-menu li:hover > ul li:hover {
	background-color: transparent;
}
.toggled-on .nav-menu li a,  .toggled-on2 .nav-menu li a {
	padding: 0.613em;
}
.toggled-on .nav-menu li > ul a,  .toggled-on2 .nav-menu li > ul a {
	width: auto;
	padding: 0.5em;
}
.toggled-on .nav-menu li:hover > a,  .toggled-on .nav-menu .children a,  .toggled-on2 .nav-menu li:hover > a,  .toggled-on2 .nav-menu .children a {
	background-color: transparent;
}
.toggled-on .nav-menu li a:hover,  .toggled-on .nav-menu ul a:hover,  .toggled-on2 .nav-menu li a:hover,  .toggled-on2 .nav-menu ul a:hover {
	background-color: #eeeeee;
}
#secondary-nav .toggled-on .nav-menu li a:hover {
	background-color: #D7C58C;
}
#secondary-nav .toggled-on2 .nav-menu ul.sub-menu li:hover {
	background-color: transparent;
}
ul.nav-menu,  div.nav-menu > ul {
	display: none;
}
.format-quote .entry-content {
	text-align: center;
}
.format-quote .testimonial-thumbnail {
	float: none;
	margin: auto;
}
}
/*
=================================================
FOOTER MENU
=================================================
*/
#footer-menu {
	margin: 0;
	padding-left: 0;
	font-size: 1em;
	text-align: center;
}
#footer-menu li {
	display: inline;
	margin: 0;
	padding-left: 0;
	background-image: none;
}
#footer-menu li a {
	margin: 0 2px 0 5px;
}
#footer-menu li:before {
	content: "-";
	margin-top: -4px;
}
#footer-menu li:first-child:before {
	content: "";
}
#footer-menu li a:hover {
	text-decoration: none;
}
@media screen and (max-width: 320px) {
#la-ann-social-wrapper {
}
#la-social-wrapper {
}
#la-announcement,  #socialbar #social-icons {
	text-align: center;
}
#la-logo-group-wrapper {
	text-align: center;
}
}
@media screen and (max-width: 860px) {
#la-announcement,  #socialbar #social-icons {
	text-align: center;
}
#la-logo {
	float: left;
	margin-right: 5px;
	margin-bottom: 1em;
}
#la-logo img {
	display: inline-block;
}
.masonry-box {
	width: 410px;
	margin-bottom: 20px;
}
.post-thumbnail.alignleft {
	display: block;
	float: none;
	margin: 0.75em 0;
	text-align: center;
}
.la-mediabox4-media {
	display: block;
	float: left;
	margin: 1.25em 0;
}
}
@media (min-width: 481px) and (max-width: 768px) {
ul.nav-menu,  div.nav-menu > ul {
	text-align: center;
}
}
@media screen and (max-width: 768px) {
#la-wrapper-boxed {
	width: 100%;
	margin: 0;
}
}
.title_homepage {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	border-bottom: 5px solid #2bafbb;
	display: inline-block;
	padding: 10px;
	margin-bottom: 20px;
}
.content_homepage {
	text-align: center;
}
li.cart-icon {
/* font-size:18px!important; */
}
@media screen and (max-width:400px) {
#la-logo-group {
	font-size: 70%!important;
}
#la-logo img {
	width: 40px;
	height: 40px;
}
}
.lavish_call_to_action {
	padding: 1em;
	margin-top: 1em;
	text-align: center;
}
/*
============================================================
@ Home Page Icons
============================================================
*/
.la_icons {
	height: 70px;
	width: 70px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	font-size: 2rem!important;
	padding: 0.6em 0.5em;
	text-align: center;
	border: 1px solid #008B8B;
	color: #008B8B;
}
.la_icons:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	background-color: #008B8B;
	color: #fff;
}
.la_icons_small {
	padding-top: 9px!important;
	color: #2BAFBB;
	height: 40px;
	width: 40px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	border: 1px solid #008B8B;
	color: #008B8B;
}
.la_icons_small:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	background-color: #008B8B;
	color: #fff;
}
.la_icons1 {
	height: 70px;
	width: 70px;
	border-radius: 50px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	font-size: 2rem!important;
	padding: 0.6em 0.5em;
	text-align: center;
	border: 1px solid #008B8B;
	color: #008B8B;
}
.la_icons1:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	background-color: #008B8B;
	color: #fff;
}
.la_icons1_small {
	padding-top: 9px!important;
	color: #2BAFBB;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	border: 1px solid #EAEAEA;
	border: 1px solid #008B8B;
	color: #008B8B;
}
.la_icons1_small:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	background-color: #008B8B;
	color: #fff;
}
/*
============================================================
@ Text Seperator
============================================================
*/
.text-seperater {
	border-bottom: 3px solid #3a9ad9;
	padding-top: 0.5em;
	width: 5%;
	margin: 0px auto;
	position: relative;
	text-align: center;
	margin-bottom: 1em;
}
a[data-lightbox] {
	display: inline-block;
	width: 100%;
}
.lavish_gallery {
	width: 100%;
}
.gallery_item {
	padding: 5px 5px 0px 5px;
}
.gallery_item img {
	width: 100%;
}
.gallery_item img:hover {
	opacity: 0.7;
}
#lavish_tabs1 {
	text-align: center;
}
.counter {
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem 0rem;
}
.home_page_title {
	font-family: lato, 'sans-serif';
}

.right_sidebar a, .left_sidebar a {
	padding: 1rem 0rem!important;
}
.right_sidebar .widget ul li, .left_sidebar .widget ul li {
	list-style: none;
	padding: 0.5rem 0rem;
	border-bottom: 1px solid #EAEAEA;
}
.widget a:hover, .widget a:focus, .widget a:visited {
	text-decoration: none;
	outline: none;
}
.widget ul {
	margin: 0px;
	padding: 0px;
}
.widget ul li {
	list-style: none;
	margin: 0px;
	padding: 0.05em;
}
/* Custom Widget Styles*/

.widget.w_link_slide ul li a:before, .widget.w_link_slide ul li a:before {
	content: "\f105";
	font-family: FontAwesome;
	margin-right: 5px;
}
.widget.w_link_slide ul li a {
	transition: All ease-in-out 0.3s;
	-webkit-transition: All ease-in-out 0.3s;
	-moz-transition: All ease-in-out 0.3s;
	-o-transition: All ease-in-out 0.3s;/* margin: -6px; */
}
.widget.w_link_slide ul li a:hover {
	text-decoration: none;
	margin-left: 15px;
	outline: none;
}
.textwidget {
	padding: 0em 0rem;
	font-size: 0.80rem;
	line-height: 1.4rem;
}
#calendar_wrap {
	margin-top: 1.25em;
}
table#wp-calendar {
	width: 100%;
}
span.input-group-addon button {
	padding: 0.5em 0.8em;
}
/*
==================================================================
WORDPRESS DEFAULT WIDGETS
==================================================================
*/
.widget_calendar caption {
	text-transform: uppercase;
	background-color: #384149;
	margin-bottom: 1px;
	padding: 5px 3px;
	border-radius: 3px 3px 0px 0px;
	color: #fff;
}
.widget_calendar th {
	background: padding-box padding-box #E2E3E4;
	border-left: 1px solid rgba(0, 0, 0, 0);
	color: #333;
	text-align: center;
	font-weight: bold;
}
.widget_calendar tbody, .widget_calendar thead {
	border: 1px solid #E2E3E4;
}
.widget_calendar tbody td {
	background: padding-box padding-box #FCFDFD;
	border-left: 1px solid rgba(0, 0, 0, 0);
	border-top: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
}
.widget_calendar tbody td:first-child {
	border-left: none;
}
.widget_calendar tbody td#today {
	background-color: #9ca9b0;
	color: #FFF;
	font-weight: bold;
}
.widget_calendar tbody td#today a {
	color: #fff;
}
/*
============================================================
@ MOVE TO TOP
============================================================
*/
.lavish_move_to_top {
	float: right;
	bottom: 1em;
	border: 1px solid #000;
	padding: 15px 15px;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	z-index: 99999;
	position: fixed;
	right: 2%;
	border-radius: 10px;
}
.lavish_move_to_top:focus, .lavish_move_to_top:hover, .lavish_move_to_top:visited {
	background-color: #000;
	color: #fff;
	list-style: none;
	text-decoration: none;
	outline: none;
}
.lavish_footer #social-icons {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.copyright {
	/* padding-top: 0.5em; */
	text-align: center;
}

/*
============================================================
@ Responsive Framework Design
============================================================
*/
@media screen and (max-width:860px) {
.lavish_top {
	text-align: center;
}
.lavish_top #social-icons {
	float: none;
}
#lavish_tabs1.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.6em 1em!important;
}
}
@media screen and (max-width:750px) {
#lavish_tabs_left ul.ss_tabs {
	width: 100%;
}
#lavish_tabs_left .ui-tabs-panel {
	margin-left: 0px;
}
#lavish_tabs1 > ul > li {
	width: 100%;
	margin: 0px!important;
	margin-bottom: 3px!important;
}
#lavish_tabs > ul > li {
	width: 100%;
	margin: 0px!important;
	margin-bottom: 3px!important;
}
}

/* icon box heading */
.la-iconbox-heading {
	position: relative;
	margin: 2em auto;
}
.la-iconbox-heading-icon {
}
/* icon box left */
.la-iconbox-left {
	/* margin: 2em auto; */
	float: left;
	margin-right: 1rem;
	font-size: 24px;
}
.la-iconbox-left-icon {
	float: left;
	font-size: 4em;
	margin-right: 0.5em;
}
.la-iconbox-left-content {
	overflow: hidden;
}
#la-bottom-wrapper .widget, #la-footer-wrapper .widget {
	margin-bottom: 0;
}
#la-bottom-wrapper ul li {
	margin-left: 1.5em;
}
.lr_jetpack_portfolio {
	text-align: center;
}
.left_sidebar_content {
	width: 5%;
	text-align: right;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	padding-right: 10px;
	float: left;
}
.right_sidebar_content {
	margin-left: 2%;
	float: left;
	width: 90%;
	position: relative;
}
.post_date {
	font-size: 1.6em;
	line-height: 1.2em;
	border-bottom: 4px solid #EAEAEA;
	padding-bottom: 5px;
}
.post_comment {
	font-size: 2em;
	font-weight: bold;
}
.la-gallery-item {
	padding: 0px!important;
	margin: 0px!important;
}
select {
	height: 40px;
}
/* 
============================================================
JETPACK CSS
============================================================
*/
.jetpack_single {
	text-align: left;
}
.lavish_banner .textwidget {
	padding: 0px;
}
.widget.center .textwidget {
	text-align: center;
}
.la_center {
	text-align: center;
}
.la-box-content {
	padding: 2rem;
	text-align: center;
}
#la-banner {
	min-height: 500px;
	background-color: #ECECEC;
	background-position: center;
	margin: 0px;
}
.lr_responsive_banner.two {
	min-height: 0px!important;
}
#la-banner img, .comment-content img, .entry-content img, .entry-summary img, #site-header img, .widget img, .wp-caption {
	max-width: 100%;
}
.comment-content img[height], .entry-content img, .entry-summary img, img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"], #site-header img {
	height: auto;
}
img.size-full, img.size-large, .wp-post-image, .post-thumbnail img, .page-thumbnail img {
	height: auto;
	max-width: 100%;
}
embed, iframe, object, video {
	margin-bottom: 24px;
	max-width: 100%;
}
p > embed, p > iframe, p > object, span > embed, span > iframe, span > object {
	margin-bottom: 0;
}
.gallery {
	margin-bottom: 20px;
	margin-left: -5px;
}
.gallery-item {
	float: left;
	margin: 15px;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 47.5%;
	max-width: -webkit-calc(50% - 30px);
	max-width: calc(50% - 30px);
}
.gallery-columns-3 .gallery-item {
	max-width: 31%;
	max-width: -webkit-calc(33.3% - 30px);
	max-width: calc(33.3% - 30px);
}
.gallery-columns-4 .gallery-item {
	max-width: 22.5%;
	max-width: -webkit-calc(25% - 30px);
	max-width: calc(25% - 30px);
}
.gallery-columns-5 .gallery-item {
	max-width: 17%;
	max-width: -webkit-calc(20% - 30px);
	max-width: calc(20% - 30px);
}
.gallery-columns-6 .gallery-item {
	max-width: 14%;
	max-width: -webkit-calc(16.7% - 30px);
	max-width: calc(16.7% - 30px);
}
.gallery-columns-7 .gallery-item {
	max-width: 11.5%;
	max-width: -webkit-calc(14.28% - 30px);
	max-width: calc(14.28% - 30px);
}
.gallery-columns-8 .gallery-item {
	max-width: 10%;
	max-width: -webkit-calc(12.5% - 30px);
	max-width: calc(12.5% - 30px);
}
.gallery-columns-9 .gallery-item {
	max-width: 8%;
	max-width: -webkit-calc(11.1% - 30px);
	max-width: calc(11.1% - 30px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}
.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
}
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
	display: none;
}
/* Attachment page when viewing an photo with the WP Gallery */
.type-attachment {
	text-align: center;
}
.type-attachment p {
	max-width: 70%;
	margin: 1em auto;
}
.entry-attachment {
	margin: 1.5em auto;
}
.attachment img {
	display: inline-block;
	text-align: center;
}
.entry-caption {
	font-size: 1.5em;
}
.la-dropcap {
	float: left;
	font: normal 5em/1em "lucida handwriting";
	display: inline-block;
	margin-right: 0.25em;
}

/*
=================================================
BreadCrumbs
=================================================
*/
.style_breadcrumbs {
	background-color: #ECECEC;
	padding: 1rem 0rem;
	position: relative;
}
.breadcrumb_items {
	text-align: right;
	line-height: 60px;
}
.col-md-6.lavish_info_top {
	width: 50%;
	float: left;
}
@media screen and (max-width:700px) {
.col-md-6.lavish_info_top {
	width: 100%;
	margin-bottom: 5px;
}
.header_social_iconns {
	text-align: center!important;
}
}

#bbpress-forums {
	margin-top:30px;
}
#bbp_search.form-control {
	margin-top:0px !important;
	height:29px;
}
.dropdown_search .input-group-addon .btn {
    margin-top:0px;
}
.align_center {
	text-align:center;
}

/* 
================================================================
lavish image styles 
================================================================
*/
.la-offsetbox {
	position: relative;
	display: inline-block;
	background-color: #c6b274;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 2%;
}
.la-circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 8px solid #ebebeb;
}
.la-thumbnail {
	padding: 8px;
	border: 1px solid #d5d5d5;
	-webkit-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.la-bw {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}
.la-bw:hover {
	cursor: pointer;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.la-bw:hover {
	cursor: pointer;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.la-shadow {
	box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
	-moz-box-shadow: 0px 1px 5px #888;
	-o-box-shadow: 0px 2px 5px #888;
	border: 5px solid #fff;
	outline: 1px solid #E9E9E9;
}
.la-images-flip {
	overflow: hidden;
}
.la-images-flip img:hover {
	zoom: 1.2;
}
.la-images-flip {
	overflow: hidden;
}
.la-images-flip img {
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
	-ms-transition: all ease 0.6s;
	width: 100%;
}
.la-images-flip img:hover {
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.la-images-flip1 {
	overflow: hidden;
}
.la-images-flip1 img {
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
.la-images-flip1 img:hover {
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
}
/*
=================================================
INFO BOXES
=================================================
*/
.la-infobox, .la-infobox-content {
	overflow: hidden;
	zoom: 1;
}
.la-infobox-label.pull-left {
	margin-right: 1em;
}
.la-infobox {
	padding: 1em;
	margin: 2em auto;
	background-color: #e7ecef;
}
.la-infobox-label {
	margin-top: 0.5em;
	padding: 0.5em 1em;
	background-color: #707886;
	color: #fff;
	text-transform: uppercase;
}
.colorbg_aqua {background-color:#00FFFF !important;}
.colorbg_aquamarine {background-color:#7FFFD4 !important;}
.colorbg_bisque {background-color:#FFE4C4 !important;}
.colorbg_black {background-color:#000000 !important;}
.colorbg_blue {background-color:#0000FF !important;}
.colorbg_bluevoilet {background-color:#8A2BE2 !important;}
.colorbg_brown {background-color:#A52A2A !important;}
.colorbg_burlywood{background-color:#DEB887 !important;}
.colorbg_cadetblue{background-color:#5F9EA0; }
.colorbg_chartreuse{background-color:#7FFF00 !important;}
.colorbg_chocolate{background-color:#D2691E !important;}

.color_white {color:#ffffff !important;}
.color_aqua {color:#00FFFF !important;}
.color_aquamarine {color:#7FFFD4 !important;}
.color_bisque {color:#FFE4C4 !important;}
.color_black {color:#000000 !important;}
.color_blue {color:#0000FF !important;}
.color_bluevoilet {color:#8A2BE2 !important;}
.color_brown {color:#A52A2A !important;}
.color_burlywood{color:#DEB887 !important;}
.color_cadetblue{color:#5F9EA0; }
.color_chartreuse{color:#7FFF00 !important;}
.color_chocolate{color:#D2691E !important;}

.sticky {

}
.bypostauthor  {

}
.screen-reader-text{
	
}
.logo img {
	width:100%;
}

.lavish-banner-empty {
	min-height: 80px;
}

/*
============================================================
@ My Code
============================================================
*/

/* Kill Styles */

body, html {
	font-size: 10px;
}

body, html,ul, li, h1, h2, h3, h4, h5, p {
	margin: 0 ;
	padding: 0 ;
	font-family: 'Raleway', sans-serif ;
	line-height: unset ;
}

ul li {
	margin: 0;
	padding: 0;
}

div {
	font-size: unset;
	line-height: unset;
}

h2 {
	position: relative;
	font-size: 3.0rem;
	font-weight: 700;
	color: #213239;
}

h2:after{
    content: ' ';
    display: block;
    background-color: #d5dce0;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    width: 130px;
    height: 2px;
    margin: 0 auto;
}

h3 {
	font-size: 2.2rem;
	font-weight: 700;
	color: #213239;
}

p, li {
	font-size: 1.6rem;
	font-weight: 400;
}

span {
	font-size: unset;
}

.lavish_move_to_top {
	display: none;
}

.lavish_header.header_two {
	margin: 0;
}

.lavish-banner-empty {
	display: none;
}

.la-content-area {
	padding: 0;
}

.la-contents {
	padding: 0;
}

.la-content-inside {
	padding: 0;
}

.entry-meta {
	display: none;
}

.entry-content > p:last-of-type {
	display: none;
  }

.wpsisac-slick-slider.design-1 .slick-image-slide img {
	min-height: 858px;
	max-height: 858px;
}






/* Kill Styles end */




/* HomePage ->  */

.home-page {
	z-index: 2;
}

.lavish_head .container {
	width: 1280px;
    margin: 0 auto;
	display: flex;
	position: relative;
}



.content-wrapper {
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

.header-section {
	top: -858px;
	position: relative;
}

.header-section .content-wrapper h1 {
	color: #fff;
	margin-bottom: 50px;
	font-size: 6.0rem;
	font-weight: 700;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	max-width: 994px;
}

.header-section .content-wrapper .content-box {
	position: absolute;
	top: 250px;
}

/* Video Box ---------------- */

	.industries-section .content-wrapper {
		display: flex;
		align-items: center;
	}

	.industries-section .content-wrapper.video {
		margin-bottom: 370px;
	}

	.industries-section .content-wrapper.video .content-box {
		background-image: url('video-container.png');
		width: 100%;
		height: 460px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		top: -230px;
		border-radius: 8px;
		-webkit-box-shadow: -3px 7px 29px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: -3px 7px 29px -5px rgba(0,0,0,0.75);
		box-shadow: -3px 7px 29px -5px rgba(0,0,0,0.75);
	}

	.content-wrapper.video .text-box {
		width: 450px;
		height: 340px;
		position: relative;
	}

	.industries-section .content-wrapper .text-box h2 {
		font-family: 'Lato', sans-serif;
		font-size: 8rem;
		background: linear-gradient(135deg, #8a2f90 0%, #f23933 34%, #ff6b00 66%, #ffc200 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.content-wrapper.video .text-box > p {
		font-size: 2.1rem;
		font-weight: 500;
	}

	.content-wrapper.video .video-box {
		width: 730px;
		height: 415px;
		border: 5px solid #213239;
        border-radius: 1px;
	}

	.content-wrapper.video iframe {
		width: 100%;
		height: 100%;
	}

	.content-wrapper.video .text-box:before {
		content: ' ';
		display: block;
		background-color: #9aaeb9;
		position: absolute;
		top: 230px;
		height: 36px;
		width: 80px;
	}

	.content-wrapper.video .text-box:after {
		content: ' ';
		display: block;
		background-image: linear-gradient(135deg, #8a2f90 0%, #f23933 34%, #ff6b00 66%, #ffc200 100%);
		position: absolute;
		top: 270px;
		height: 36px;
		width: 240px;
	}

	.content-wrapper.video .text-box > p {
		position: relative;
	}

	.content-wrapper.video .text-box > p:after {
	    content: ' ';
		display: block;
		background-color: #607d8b;
		position: absolute;
		height: 83px;
		width: 1px;
		top: 130px;
	}

	.industries-section .industries-list li > img {
		margin-bottom: 16px;
	}
	

/* Video Box ---------------- end */



/* Industries ---------------- */
.industries-section {
	margin-bottom: 115px;
}

.industries-section .content {
	position: absolute;
}

.industries-section .content-wrapper.text {
    flex-flow: column;
    align-items: center;
}

.industries-section .title-holder {
	margin-bottom: 90px;
}

.industries-section .icons-holder {
	width: 100%
}

.industries-section .industries-list {
    margin-bottom: 65px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.industries-section .industries-list li {
    list-style: none;
    text-align: center;
    display: inline-block;
}

.industries-section .content-wrapper.video h2::after {
	display: none;
}


/* Industries ---------------- end */

/* Benefits ---------------- */


.benefits-section {
	background-color: #e6ecf0;
}

.benefits-section .content-wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
    justify-content: center;
	height: 100%;
	padding-bottom: 100px;
	padding-top: 75px;
}

.benefits-section .benefits-content {
	display: flex;
	width: 100%;
}

.benefits-section .benefits-content .benefit-box .content-details > p, .benefits-section .benefits-content .benefit-box .content-details-full > p {
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
}

.benefits-section .title-holder {
	margin-bottom: 100px;
	width: 735px;
    text-align: center;
}

.benefits-section .benefit-box {
	width: 390px;
	margin-right: 55px;
}

.benefits-section .benefit-box:last-child {
	margin-right: unset;
}

.benefits-section .content-label {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 35px;
}

.benefits-section .content-label div {
	width: 200px;
}

.benefits-section img {
	margin-right: 20px;
}

.benefits-section .content-details {
	margin-bottom: 18px;
	height: 117px;
	overflow: hidden;
}

.benefits-section .content-details-full {
	display: none;
}

.benefits-section .benefit-box.expanded .content-details {
	display: none;
}

.benefits-section .benefit-box.expanded .content-details-full {
	display: block;
	margin-bottom: 18px;
	overflow: hidden;
	min-height: 117px;
}

.read-more-btn {
	font-family: 'Raleway', sans-serif;
	width: 120px;
    height: 33px;
    color: #213239;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    background: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.benefits-section .read-more-btn:after {
	content: '\f0d7';
	font-family: FontAwesome;
	margin-left: 6px;
}

.benefits-section .read-more-btn.expanded {
	float: right;
	width: 90px;
}

.benefits-section .read-more-btn.expanded:after {
	content: '\f0d8'
}

/* Benefits ---------------- end */

/* Choose Polytron Section ---------------- */

	.choose-section {
		background-color: #fff;
	}

	.choose-section .content-box .details p, .choose-section .content-box .details li {
		font-family: 'Roboto', sans-serif;
	}

	.choose-section h2:after {
		right: unset;
	}

	.choose-section .content-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 45px;
	}

	.choose-section .content-box .left-box .details > ul {
		max-width: 430px;
	}


	.choose-section .content-box .left-box .details > ul > li {
		margin-bottom: 30px;
		font-size: 1.6rem;
		font-weight: 500;
		color: #213239;
		list-style: none;
		display: flex;
	}

	.choose-section .content-box .left-box div > ul > li::before {
		content: url('check-icon.png');
		margin-right: 21px;
	}

	.choose-section .content-box .left-box div > ul > li:last-child {
		margin-bottom: 0;
	}

	.choose-section .left-box div, .choose-section .right-box div {
		margin-bottom: 40px;
	}

	.choose-section .left-box div:last-child {
		margin-bottom: 0;
	}

	.choose-section .content-box .left-box {
		height: 470px;
	}

	.choose-section .title-holder {
		margin-bottom: 100px;
	}

	.choose-section .content-wrapper.choose {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.choose-section .right-box {
		width: 780px;
		height: 270px;
	}

	.choose-section .right-box p {
		line-height: 30px;
	}

	.choose-section .right-box a {
		font-size: 1.6rem;
		color: #213239;
		font-weight: 700;
		text-decoration: underline;
	}

	.choose-section .right-box a::before {
		content: '\f063';
		font-family: FontAwesome;
		margin-right: 8px;
		color: #213239;
	}

	.choose-section .image-box {
		background: url('choosepolytron-image.png') center no-repeat;
		width: 1100px;
		height: 400px;
		margin: 0 auto;
	}


/* Choose Polytron Section ---------------- end */

/* Testimonials Section ---------------- */

	.testimonials-section {
		background-image: url('testimonials-background.png');
		background-color: rgb(134, 55, 134);
	}

	.testimonials-section .title-holder {
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.testimonials-section .testimonial-content label {
		width: 509px;
		height: 56px;
		color: #213239;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 7px;	
		display: block;
	}

	.testimonials-section .testimonial-content p {
		width: 495px;
		height: 161px;
		color: #213239;
		font-family: Roboto;
		font-style: italic;
		font-size: 1.6rem;
		line-height: 26px;
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
	}

	.testimonials-section .testimonial-content .author:before {
		content: ' ';
		display: block;
		background-color: #d5dce0;
		position: absolute;
		top: -16px;
		left: 0;
		width: 130px;
		height: 1px;
		margin: 0 auto;
	}	

	.testimonials-section .testimonial-content .author {
		color: #213239;
		font-size: 1.6rem;
		font-weight: 700;
		position: relative;
	}

	.testimonials-section h2 {
		color: #fff;
	}

	.testimonials-section h3 {
		font-size: 1.8rem;
		margin-bottom: 16px;
	}

	.testimonials-section h2:after {
		display: none;
	}

	.testimonials-section .content-wrapper {
		display: flex;
		flex-flow: column;
		width: 1300px; 
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.testimonials-holder {
		width: 1200px;
		display: flex;
		justify-content: space-between;
	}

	.testimonials-holder img {
		position: absolute;
    	top: 33px;
    	left: 281px;
	}

	.testimonials-section .testimonial-content {
		width: 595px;
		height: 410px;
		background-image: url('testimonial-holder.png');
		position: relative;
		padding-top: 100px;
		padding-left: 40px;
	}

	.testimonials-section .testimonial-content img {
		height: auto;
		position: absolute;
		left: 284px;
		top: 32px;
	}

	.left-testimonial div {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 515px;
		height: 215px;
		position: absolute;
		top: 100px;
		left: 50px;
	}

	.right-testimonial {
		width: 577px;
		height: 400px;
		background-image: url('testimonial-holder.png');
		position: relative;
	}

	.right-testimonial div {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 515px;
		height: 215px;
		position: absolute;
		top: 100px;
		left: 50px;
	}

	.testimonials-section .bottom-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 510px;
	}

	.testimonials-section .bottom-content .read-more-btn {
		font-size: 1.4rem;
		color: #8a2f90;
		height: unset;
	}

	.wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slick-slider-short-content, .wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slider-content, .wpsisac-slick-slider .slick-image-slide {
		text-align: unset;
	}

	.wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slider-content {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slick-slider-short-content p {
		text-align: unset;
	}

	.wpsisac-slick-slider.design-5 .slick-dots {
		top: 12px;
	}



/* Testimonials Section ---------------- end */

/* Leadership Section ----------------  */

.leadership-section {
	background-color: #fff;
}

.leadership-section h3 {
	margin-bottom: 40px;
	color: #8a2f90;
	min-height: 75px;
}

.leadership-section img {
	margin-bottom: 15px;
}

.leadership-section .content-wrapper {
	padding-top: 115px;
	padding-bottom: 135px;
    display: flex;
    flex-flow: column;
	align-items: center;
	height: 100%;
}

.leadership-section .title-holder {
	margin-bottom: 100px;
}

.leadership-section .leadership-content {
	display: flex;
    justify-content: space-between;
	align-items: baseline;
	width: 101%;
}

.leadership-section .leadership-content .content-box:after {
    content: ' ';
    display: block;
    background-color: #d5dce0;
    position: absolute;
    top: 0px;
    right: -30px;
    width: 2px;
    height: 222px;
}

.leadership-section .leadership-content .content-box:last-child:after {
	display: none;
}

.leadership-section .content-box {
	width: 390px;
	position: relative;
}

.leadership-section .content-box > p {
	color: #213239;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 28px;
	height:	145px;
	overflow: hidden;
	margin-bottom: 20px;
}

.leadership-section .read-more-btn {
	color: #8a2f90;
}
	



/* Leadership Section ---------------- end */



/* Reusable -----------------*/

.button-view {
	cursor: pointer;
	width: 186px;
	height: 60px;
	border-radius: 10px;
	background-color: #ff6b00;
	color: #fff;
    font-size: 1.8rem;
    outline: none;
	border: none;
	transition: background-color 0.5s;
	margin-right: 30px;
}

.button-view:hover {
	background-color: #df5d01;
}

.link-distributor {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	text-decoration: underline;
}

.fa.fa-arrow-up {
	font-size: 2rem;
	background: linear-gradient(135deg, #8a2f90 0%, #f23933 34%, #ff6b00 66%, #ffc200 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Reusable ----------------- end */


/* -----------Footer Pledge Section */

/* Footer ->  */

.footer-section {
	width: 100%;
	height: 548px;
	background-color:  #213239;
}

.polytron-footer {
	width: 100%;
	height: 548px;
	background-color:  #213239;
	position: relative;
	display: flex;
    flex-flow: column;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: unset;
	height: 360px;
}

.footer-column {
	display: flex;
	flex-flow: column;
}

.footer-column.links {
	justify-content: space-evenly;
    height: 146px;
}

.footer-column.links > div {
	display: flex;
	flex-flow: column;
}

.footer-column.links > div:first-child {
	margin-bottom: 35px;
}

.footer-column.links > div > a {
	color: #9aaeb9;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 30px;
	text-decoration: underline;
}

.footer-link {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 30px;
	color: #9aaeb9;
	outline: none;
	text-decoration: none;
}

.footer-label {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 28px;
	color: #9aaeb9;
}

.footer-policy {
	font-size: 1.4rem;
	color: #9aaeb9;	
	margin: 0 auto;	
	width: 520px;
	display: flex;
	justify-content: space-evenly;
}

.footer-policy > div {
	position: relative;
}

.footer-policy > div > a {
	text-decoration: none;
	color: #9aaeb9;
	font-size: 1.4rem;
}

.footer-policy > div:after {
	content: ' ';
    display: block;
    background-color: #9aaeb982;
    position: absolute;
    right: -15px;
    top: 2px;
	height: 10px;
	width: 2px;
    margin: 0 auto;
}

.footer-policy > div:last-child::after {
	display: none;
}

.footer-logo-holder {
	margin-bottom: 55px;
    padding-top: 65px;
}

.footer-download-catalog:before, .footer-download-guide:before {
	content: '\f063';
    font-family: FontAwesome;
    margin-right: 8px;
    color: #9aaeb9;
}

.footer-email:before {
	content: '\f0e0';
    font-family: FontAwesome;
    margin-right: 8px;
    color: #9aaeb9;
}

.footer-number {
	text-decoration: none !important;
	cursor: default;
}

.footer-number:before {
	content: '\f095';
    font-family: FontAwesome;
    margin-right: 11px;
    color: #9aaeb9;
}


/* Footer ->  end */


/* -----------Footer Pledge Section */
.our-pledge {
	height: 300px;
	display: flex;
	background-color: #e6ecf0;
}

.our-pledge .content-wrapper {
	display: flex;
	align-items: center;
}

.pledge-content-box {
	display: flex;
    width: 790px;
    align-items: center;
}

.pledge-content-box img {
	margin-right: 30px;
}

.pledge-holder {
	display: flex;
    flex-flow: column;
    justify-content: center;
}

.pledge-label {
	font-size: 3.0rem;
	font-weight: 700;
	color: #213239;
	margin-bottom: 10px;
}

.pledge-text {
	font-size: 2.0rem;
	font-weight: 500;
}


/* -----------Footer Pledge Section end */






/* -----------Testimonial slider */

.wpsisac-slick-slider h2.slide-title {
	display: none;
}

.slick-slider-short-content {
	display: flex;
}

.wpsisac-slick-slider.design-5 .slick-arrow {
	top: 50% !important;
}

.wpsisac-slick-slider button.slick-arrow {
	border-radius: 20px !important;
	width: 40px !important;
}

.wpsisac-slick-slider button.slick-prev, .wpsisac-slick-slider button.slick-prev:hover, .wpsisac-slick-slider button.slick-prev:focus{
	background: url('arrow-left.png') center center no-repeat !important;
}

.wpsisac-slick-slider button.slick-next, .wpsisac-slick-slider button.slick-next:hover, .wpsisac-slick-slider button.slick-next:focus {
	background: url('arrow.png') center center no-repeat !important;
}

.wpsisac-slick-slider .slick-dots li.slick-active button {
	background: #ff6b00 !important;
    border: 1px solid #ff6b00;
}

.wpsisac-slick-slider .slick-dots li button {
    background: #9aaeb9 !important;
	border: 1px solid #9aaeb9;
}


/* -----------Testimonial slider end */



/* ABOUT PAGE HERE __________________ */
/* ABOUT PAGE HERE __________________ */
/* ABOUT PAGE HERE __________________ */


/* Header Section ____________________________________________ */

.details p {
	font-family: 'Roboto', sans-serif;
}

.style_breadcrumbs {
	display: none;
}

.about-page .header {
	min-height: 527px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('about-page-header.png') center no-repeat;
}

.about-page .header .content-wrapper .content-box h1 {
	max-width: 994px;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-size: 6.0rem;
	font-weight: 700;
	letter-spacing: -1.5px;
	line-height: 62px;
	margin-bottom: 25px;
}

.about-page .header .content-wrapper .content-box {
	position: absolute;
	top: 200px;
}

.about-page .header .content-wrapper .content-box .details {
	max-width: 690px;
	max-height: 113px;
}

.about-page .header .content-wrapper .content-box .details p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: 1.8rem;
	line-height: 28px;
	font-weight: 700;
}

/* Header Section ____________________________________________ end*/


/* History Section ____________________________________________ */

.about-page .history-section {
	background-color: #fff;
}

.about-page .history-section .content-wrapper {
	padding-top: 35px;
	padding-bottom: 62px;
}

.history-section .history-content {
	display: flex;
    justify-content: space-between;
}

.history-section .history-content .details {
	max-width: 840px;
}

.history-section .history-content .details p{
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 28px;
	color: #213239;
}

.history-section .button-holder {
	width: 101px;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 35px;
}

.history-section .to-page-btn {
	font-size: 1.2rem;
	color: #607d8b;
	font-family: 'Roboto', sans-serif;
	position: relative;
    text-decoration: none;
}

.history-section .to-page-btn.home:after {
    content: '\f054';
    font-family: FontAwesome;
	position: absolute;
	top: 2px;
	right: -23px;
	pointer-events: none;
}

/* History Section ____________________________________________ end*/


/* Philosophy Section ____________________________________________ */

.philosophy-section {
	background-color: #f2f6f8;
}

.philosophy-section h2:after {
	right: unset;
}

.philosophy-section .content-wrapper {
	padding-top: 65px;
	/* padding-bottom: 100px; */
}

.philosophy-section .philosophy-content {
	display: flex;
}

.philosophy-section .title-holder {
	max-width: 754px;
	color: #213239;
	font-size: 3.0rem;
	font-weight: 700;
	margin-bottom: 75px;
}

.philosophy-section .details {
	max-width: 666px;
}

.philosophy-section .details p{
	color: #213239;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.philosophy-section .image {
	background: url('philosophy-background-image.png') center center no-repeat;
    min-height: 461px;
    min-width: 615px;
    /* position: absolute;
    top: 65px;
    right: -60px; */
}

/* Philosophy Section ____________________________________________ end*/

/* We Understand Section ____________________________________________ */

.understand-section {
	background-color: #fff;
}

.understand-section h2:after {
	right: unset;
}

.understand-section .content-wrapper {
	padding-top: 40px;
	display: flex;	
}

.understand-section .image {
	background: url('we-understand-image.png') center center no-repeat;
    min-height: 745px;
    min-width: 570px;
}

.understand-section .understand-content {
	margin-top: 60px;
	margin-left: 100px;
}

.understand-section .understand-content .label {
	margin-bottom: 55px;
}

.understand-section .understand-content .details.first {
	margin-bottom: 85px;
}

.understand-section .understand-content .details {
	min-width: 665px;
}

.understand-section .understand-content .details p {
	color: #213239;
	font-weight: 400;
	line-height: 28px;
}


/* We Understand Section ____________________________________________ end*/







